@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectJournal.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
            @if (User.IsInRole("admin"))
                {
                  <div id="header">
                      <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Электронный журнал</a>
                      </div>
                        <nav>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="Users" class="menu">Пользователи</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="TimetableAdd" class="menu">Расписание</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="Groups" class="menu">Группы</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Admin" asp-action="Subjects" class="menu">Учебные предметы</a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </nav>
                    </div>
                }
                else if (User.IsInRole("student"))
                {
                    <div id="header">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Электронный журнал</a>
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Student" asp-action="Timetable" asp-route-groupId="@User.FindFirst(m => m.Type == ClaimTypes.Version).Value" class="menu">Расписание</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Student" asp-action="Marks" asp-route-UserId="@User.FindFirst(m => m.Type == ClaimTypes.NameIdentifier).Value" class="menu">Оценки</a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </nav>
                    </div>
                }
                else if (User.IsInRole("teacher"))
                {
                    <div id="header">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Электронный журнал</a>
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Teacher" asp-action="Timetable" asp-route-userId="@User.FindFirst(m => m.Type == ClaimTypes.NameIdentifier).Value"  class="menu">Расписание</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Teacher" asp-action="LessonStart" asp-route-TeacherId="@User.FindFirst(m => m.Type == ClaimTypes.NameIdentifier).Value" class="menu">Начать урок</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Teacher" asp-action="Marks" class="menu">Оценки</a>
                                </li>
                            </ul>
                            <partial name="_LoginPartial" />
                        </nav>
                    </div>
                }
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container" style="color:white">
            &copy; 2021 - 2022 y.: Electronic Journal. 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
