@model TimetableViewModel;

@{
    ViewData["Title"] = "List timetable";
}

<form class="block" asp-antiforgery="true" method="get">
    <h2>Посмотреть расписание на..</h2>
    <hr id="mine" /><br />

    <div class="input-group mb-3" id="selectgr">
        <label class="input-group-text" for="inputGroupSelect01">День</label>
        <select asp-for="DayOfWeek" class="form-select" id="inputGroupSelect01">
            <option value="" selected>Выберите день...</option>
            <option value="1">Понедельник</option>
            <option value="2">Вторник</option>
            <option value="3">Среда</option>
            <option value="4">Четверг</option>
            <option value="5">Пятница</option>
            <option value="6">Суббота</option>
        </select>
    </div>

    <div class="input-group mb-3" id="selectgr">
        <label class="input-group-text" for="inputGroupSelect01">Группы</label>
        <select asp-for="GroupId" class="form-select" id="inputGroupSelect01">
            <option value="" selected>Выберите группу...</option>
            @foreach (var item in Model.GroupsList)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </div>

    <div class="form-floating mb-3">
        <input type="date" asp-for="BeginDate" class="form-control" id="dateInput4" placeholder="Дата начала недели">
        <span asp-validation-for="BeginDate"></span><br />
    </div>

    <div class="form-floating mb-3">
        <input type="date" asp-for="EndDate" class="form-control" id="dateInput5" placeholder="Дата конца недели">
        <span asp-validation-for="EndDate"></span><br />
    </div>

    <button type="submit" class="btn btn-primary" asp-controller="Admin" asp-action="TimetableList" asp-route-day="@Model.DayOfWeek" asp-route-group-id="@Model.GroupId" asp-route-begin-date="@Model.BeginDate" asp-route-end-date="@Model.EndDate">Посмотреть</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Date2.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="~/css/reg.css" />
}
