@model IEnumerable<ElectJournal.Web.Models.GroupViewModel>

@{
    ViewData["Title"] = "Subject";
}

@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Name)
            </th>
            <th>
                Действия
            </th>
            <th>

            </th>
            <th>
                <a asp-action="GroupsAdd">Добавить</a>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    <button type="submit" asp-route-id="@item.Id" action="Group">Удалить</button>
                </td>
                @*<td>
                        @Html.ActionLink("Добавить", "SubjectsAdd")
                    </td>*@
            <td>
                @Html.ActionLink("Изменить", "GroupsUpdate", new { id = item.Id }) @*id = item.Id, name = item.Name*@
            </td>
            </tr>
        }
    </table>
}


<style>
    .table td, .table th {
        background-color: aliceblue;
        border-top: 1px solid #000;
    }

    a.table {
        color: darkblue;
    }

    table a {
        color: darkblue;
    }
</style>
